html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ACTUAL CODE STARTS HERE */

* {
	box-sizing: border-box;
}
body {
	background: #EFEFEF;
}
.head {
	text-align: center;
	font-family: Rockwell;
	font-size: 58px;
	color: #4A4A4A;
	padding-top: 40px;
	padding-bottom: 30px;
}
.interface {
	width: 443px;
	margin: 0 auto;
	padding: 35px;
	text-align: center;
	font-family: 'Helvetica Neue';
	color: #4A4A4A;
	background: white;
	border-radius: 4px;
	overflow: hidden;
}
.running .left {
	display: none;
}
.running .switch {
	display: block;

}
.watch {
	font-weight: 900;
	font-size: 91px;
	line-height: 112px;
	margin-bottom: 40px;
}
.left, .right, .switch {
/*	display: inline-block;*/
/*	margin-bottom: 45px;*/
}
.left, .switch {
	float: left;
}
.left-circle, .right-circle, .stop-circle {
/*	position: relative;*/
	width: 122px;
	height: 122px;
	border: 1px solid #333;
	border-radius: 50%;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	text-align: center;
}
.right {
	float: right;
}
.left-circle {
	border-color: #2BCA3A;
	color: #2BCA3A;
	cursor: pointer;
}
.stop-circle {
	border-color: #D0191C;
	color: #D0191C;
	cursor: pointer;
}
.start, .reset, .stop {
	margin-top: 40%;
	font-size: 24px;
}
/*.left-circle {
	display: none;
}*/
.switch {
	display: none;
}
/*.red-circle {
	position: relative;
	width: 122px;
	height: 122px;
	border: 1px solid #D0191C;
	border-radius: 50%;
	font-family: 'Helvetica Neue';
	font-weight: 100;
	text-align: center;
	color: #D0191C;
	cursor: pointer;

}














